In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

# 2. Data Preparation

# Merging multiple csv files into one file

In [48]:
#Step 1: Listing all the csv files and ignoring the rest of the extension  

file_path="../SmartDataCW"

csv_files = []

for file_name in os.listdir(file_path):
    if file_name.endswith(".csv"):  
        csv_files.append(file_name)

In [49]:
csv_files

['Sales_April_2019.csv',
 'Sales_August_2019.csv',
 'Sales_December_2019.csv',
 'Sales_February_2019.csv',
 'Sales_January_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv',
 'Sales_March_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_September_2019.csv']

In [50]:
df= pd.concat(map(pd.read_csv,csv_files),ignore_index=True)
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558.0,USB-C Charging Cable,2.0,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559.0,Bose SoundSport Headphones,1.0,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560.0,Google Phone,1.0,600.00,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560.0,Wired Headphones,1.0,11.99,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353.0,AAA Batteries (4-pack),3.0,2.99,9/17/2019 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354.0,iPhone,1.0,700.00,9/1/2019 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355.0,iPhone,1.0,700.00,9/23/2019 7:39,"220 12th St, San Francisco, CA 94016"
186848,259356.0,34in Ultrawide Monitor,1.0,379.99,9/19/2019 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357.0,USB-C Charging Cable,1.0,11.95,9/30/2019 0:18,"250 Meadow St, San Francisco, CA 94016"

# Removing Missing Values from DataFrame

In [64]:
# checking all the null values 

df.isnull().sum()

NameError: name 'df' is not defined

In [52]:
df.dropna(inplace=True)

In [53]:
df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

# Converting Datatypes of Dataframes columns

In [54]:
# Let us view the present datatype of these columns 

present_datatype_QuantityOrdered= df['Quantity Ordered'].dtype
present_datatype_QuantityOrdered

dtype('float64')

In [55]:
df[['Quantity Ordered','Price Each']]

        Quantity Ordered  Price Each
0                    2.0       11.95
2                    1.0       99.99
3                    1.0      600.00
4                    1.0       11.99
5                    1.0       11.99
...                  ...         ...
186845               3.0        2.99
186846               1.0      700.00
186847               1.0      700.00
186848               1.0      379.99
186849               1.0       11.95

[185950 rows x 2 columns]

In [56]:
present_datatype_PriceEach= df['Price Each'].dtype
present_datatype_PriceEach

dtype('float64')

In [57]:
df.dtypes

Order ID            float64
Product              object
Quantity Ordered    float64
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object

In [58]:
df['Quantity Ordered'] =df['Quantity Ordered'].astype(int)

df.dtypes

Order ID            float64
Product              object
Quantity Ordered      int32
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object

In [59]:
df['Price Each'] = df['Price Each'].round(0).astype(int)

df.dtypes

Order ID            float64
Product              object
Quantity Ordered      int32
Price Each            int32
Order Date           object
Purchase Address     object
dtype: object

# Creating a new Column and changing its datatypes

In [60]:
updated_dataframe['Month']=updated_dataframe['Order Date']
updated_dataframe.dtypes

Order ID            float64
Product              object
Quantity Ordered      int32
Price Each            int32
Order Date           object
Purchase Address     object
Month                object
dtype: object

In [61]:
updated_dataframe['Month'] = updated_dataframe['Month'].apply(lambda x: x.strip().split('/')[0])
updated_dataframe['Month']=updated_dataframe['Month'].astype(int)

In [62]:
updated_dataframe.dtypes

Order ID            float64
Product              object
Quantity Ordered      int32
Price Each            int32
Order Date           object
Purchase Address     object
Month                 int32
dtype: object

In [63]:
df['City'] = df['Purchase Address'].apply(lambda x: x.strip().split(',')[1])
df

NameError: name 'df' is not defined

# 3. Data Analysis

# Summary statistics of any chosen variable

In [ ]:
# Using Quantity Ordered and Price Each as variable

selected_columns= df[['Quantity Ordered','Price Each']]

In [ ]:
selected_columns.describe()

In [ ]:
Sum=selected_columns.sum()
Sum

In [ ]:
Mean_value=selected_columns.mean()
Mean_value

In [ ]:
checkSkewness=selected_columns.skew()
checkSkewness

In [ ]:
checkKurtosis=selected_columns.kurt()
checkKurtosis

# Corelation of all variables

In [ ]:
findCorrelation=selected_columns.corr()
findCorrelation

# 4. Data Exploration

# Months with best sales and earning

In [ ]:
df['Amount']=df['Quantity Ordered']* df['Price Each']

In [ ]:
df.head(5)

In [ ]:
monthly_sales=df['Amount'].groupby(df['Month']).sum()

In [ ]:
monthly_sales

In [ ]:
print("Highest Month of Sales:",monthly_sales.idxmax())
print("Sales:", monthly_sales.max())

In [ ]:

set_color=['green','red','yellow','pink','lightgreen','skyblue','grey','brown','orange','violet','purple','blue']
plt.figure(figsize=(18, 8))
plt.bar(monthly_sales.index, monthly_sales.values,color=set_color,edgecolor='black')
plt.xlabel('Month')
plt.ylabel('Sales')
plt.title('Monthly Sales')
plt.show()

# City that has sold the highest product

In [ ]:
product_selling_city=df['Quantity Ordered'].groupby(df['City']).sum()
product_selling_city

In [ ]:
print("Month with highest product sales:",product_selling_city.idxmax())
print("Highest product sales:",product_selling_city.max())

In [ ]:
plt.figure(figsize=(16, 8))
plt.bar(product_selling_city.index,product_selling_city.values,color=set_color, width=0.7,edgecolor='black')
plt.title('Products per City')
plt.xlabel('City')
plt.ylabel('Products ($)')
plt.show()

# Products Mostly Sold

In [ ]:
product_sold=df['Quantity Ordered'].groupby(df['Product']).sum()
product_sold

In [ ]:
print("Highest Product Sold:",product_sold.idxmax())
print("Total Quantity Sold:",product_sold.max())

In [ ]:
plt.figure(figsize=(16,8))
plt.bar(product_sold.index,product_sold.values,color=set_color,edgecolor='black')
plt.title('Products per Quantity')
plt.xlabel('Products')
plt.xticks(rotation=-90)
plt.ylabel('Quantity')
plt.show()

# Histogram plot of any variable

# Use of Months Series as variable

In [ ]:
plt.figure(figsize=(16,8))
data = df['Month']
plt.hist(data, bins=10, edgecolor='black')
plt.xlabel('Month')
plt.ylabel('Frequency')
plt.title('Histogram of Data')
plt.show()